/* 
    set to iphone x dimensions 
    media queries will be added soon
*/
.midToFooter {
  /* background-color: rgb(255, 255, 255); */
  border-radius: 26px 26px 0 0;
  min-height: 56vh;
  height: max-content;
  overflow: scroll;
  margin-top: 32px;
  padding: 20px;
  width: 100%;
  border: 1px solid rgb(53, 152, 245);

  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(53, 152, 245, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
}

.midToFooter-title {
  padding: 10px 0 12px 8px;
  font-size: 20px;
  letter-spacing: 0.7px;
  font-weight: bold;
  color: rgb(94, 93, 93);
}

.job-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12px;
}

.accordion-body {
  font-size: 18px;
}

.accordion-button {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.3px;
  color: #000;
}

.cb-btn {
  width: 54px;
  height: 54px;
  position: fixed;
  right: 20px;
  bottom: 30px;
  background-color: rgb(23, 123, 218);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  outline: none;
  border: none;
  z-index: 100;
}

.bold-p-tag {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  margin-top: 6px;
}
.chat-with-ai-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.chat-with-ai-btn {
  border: 0;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(53, 152, 245, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  padding: 10px;
  margin: 15px;
  border-radius: 50px;
}
