* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.welcome-container {
  background-color: white;
  height: 50vh;
  margin-top: 30%;
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.welcome-div {
  animation: 1s ease-out 0s 1 slideInFromBottom;
  position: fixed;
  bottom: 0;
  border-radius: 30px 30px 0 0;
  overflow: hidden;
  padding: 40px 10px 20px 20px;

  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border: 1px solid rgba(7, 175, 247, 0.136);
}

.welcome-main {
  font-size: 30px;
  padding-bottom: 0px;
}

.welcome-message {
  font-size: 16px;
  margin-bottom: 0px;
}

.btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.wbtn {
  height: 60px;
  padding: 0 20px;
  outline: none;
  border-radius: 28px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  margin: 10px;
}

.w-sign-up-btn {
  background-color: black;
  color: white;
}
